body{
    color: #333333;
    font-size: "Lucida Sans Unicode", "Lucida Sans", "Sans-Serif";
}
.sacola{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
}
.menu-opcoes ul{    
    display: inline;
    margin-left: 20px;
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}